[Unit]
Description=singBox

[Service]
Environment="ip="
ExecStart=/usr/bin/node /root/config/singBox/bundle
WorkingDirectory=/root/config/singBox
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
