[Unit]
Description=singBox

[Service]
Environment="ip="
ExecStartPre=/bin/mkdir -p /tmp/singBox
ExecStartPre=/bin/echo `date +%s` > /tmp/singBox/singbox_start_time
ExecStart=/usr/bin/node /root/config/singBox/bundle
WorkingDirectory=/root/config/singBox
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
